#contact {
	height: 200px;
	width: 100%;
	background: #fff;
}

#intro {
	padding-top: 150px;
	height: 100%;
	width: 100%;
	text-align: center;
	background: #fff;
}

#team-picture {
	width: 100%;
}

#top-sponsors {
	padding-top: 50px;
	height: 300px;
	width: 100%;
	text-align: center;
	background: #eee;
	color: black;
}

.intro-jumbotron {
	background-color: transparent;
}